<!DOCTYPE html>
<html lang="en">
<head>
    <title>blogging</title>
   <%- include('./partials/head') %>

</head>
<body>
    <% if (locals.user) { %>
     <div><%= locals.user %></div>
    <% } %>

    <%- include('./partials/nav') %>  <%= JSON.stringify(user) %>
    <%- include('./partials/script') %>
</body>
</html>